<label>
  <input type="radio" name="options" (change)="selectOption('option1')" [checked]="selectedOption === 'option1'"> Option 1
</label>
<label>
  <input type="radio" name="options" (change)="selectOption('option2')" [checked]="selectedOption === 'option2'"> Option 2
</label>
<label>
  <input type="radio" name="option" (change)="selectOption('option3')" [checked]="selectedOption === 'option3'"> option3
</label>

<div *ngIf="selectedOption === 'option1'">
  <p>Option 1 is selected!</p>
</div>

<div *ngIf="selectedOption === 'option2'">
  <p>Option 2 is selected!</p>
</div>
<div *ngIf="selectedOption === 'option3'">
  <p>Option 3 is selected!</p>
</div>

